workflows/linkedin_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "url": "http://trending_service:8000/keywords",
        "options": {}
      },
      "name": "Fetch Keywords",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        140,
        0
      ],
      "id": "6abea839-0a06-4011-9d71-6461cfef0d5e"
    },
    {
      "parameters": {
        "functionCode": "// Simple epsilon-greedy bandit\nconst hooks = ['Question','Stat','Story','Quote'];\nconst eps = 0.1;\nconst chosen = Math.random() < eps ? hooks[Math.floor(Math.random() * hooks.length)] : hooks[0];\nreturn [{ json: { hook_style: chosen, keywords: $json.keywords } }];"
      },
      "name": "Select Hook Style",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        360,
        0
      ],
      "id": "3bd8b0a5-7b1b-4af2-8aa1-76ec5c42a482"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "GPT-4.1"
        },
        "messages": {
          "values": [
            {
              "content": "=use this and find this {{ $json.keywords }} and find the best keyword cretier latest and tech and AI and assume you are a top linkedin ost ncreated for virality and create a linkedin post on the top keyword you found it previously and out put only linkedin post  ",
              "role": "assistant"
            }
          ]
        },
        "options": {}
      },
      "id": "0ae3724c-61a8-4e9f-9ce3-88d954460cca",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [
        580,
        0
      ],
      "credentials": {
        "openAiApi": {
          "id": "FFBCRtKEny54aJFv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1,
                2,
                3,
                4,
                5,
                6
              ],
              "triggerAtHour": 13,
              "triggerAtMinute": 48
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -80,
        0
      ],
      "id": "4dda50f2-4a16-469a-a406-c2e5d9987bfe",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "person": "jmin7GXo4T",
        "text": "={{ $json.message.content }}",
        "additionalFields": {}
      },
      "id": "740486b4-41e3-4715-b3bf-f477ed6b8363",
      "name": "LinkedIn",
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        956,
        0
      ],
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "ZLsnOImLIcJcUIo6",
          "name": "LinkedIn account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Fetch Keywords": {
      "main": [
        [
          {
            "node": "Select Hook Style",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Hook Style": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "381240b8-07f7-4922-b9ae-fe1ffaab6db2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f35f9068d736c259402c3c14c7a6a0c061a675d063a60ca58b5a649ff5436cba"
  },
  "id": "gUkAsTBLxkZ9tXou",
  "tags": []
}